HTML {
  background-color: #2A2D2D;
}

body {
  color: #09ADEE;
}

.selected {
  color: green;
}

.unselected {
  color: #ff4500;
}

.holder {
  display: flex;
  flex-direction: row;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.body {
  margin-left: 100px;
}